C06/anh_the
C06/labels
C06/Portrait*
C06/raw_images
C06/results/
C06/template/

handwritten/resources
handwritten/results

IQ007/resources
# IQ007/hands-segmentation-pytorch
IQ007/__pycache__
IQ007/test*.png
IQ007/test*.jpg

*/__pycache__

.vscode
results
resources
hands-segmentation-pytorch

